
.header{
    height: 100px;
    background-color: black;
    margin-top: 40px;
    margin-bottom: 20px;
}
.menu{
    display: inline-block;
    height: 300px;
    width: 500px;
    background-color: green;
}
.home{
    display: inline-block;
    height: 300px;
    width: 1000px;
    background-color:yellow;
}
.footer{
    height: 100px;
    background-color: red;
}
.nav{
    margin-left: 200px;
    margin-top: 50px;
}
.navigation{
    background-color: cyan;
    padding: 1%;
}
.red{
    display: inline-block;
    width: 200px;
    height: 250px;
    color: red;
    margin-left: 300px;
}
.green{
    display: inline-block;
    width: 200px;
    height: 200px;
    color: green;
    margin-left: 300px;
}
.head1{
    display: inline-block;
    width: 400px;
    height: 400px;
    margin-left: 300px;
}
.head2{
    display: inline-block;
    width: 400px;
    height: 400px;
    margin-left: 100px;
}
.img1{
    display: inline-block;
    width: 400px;
    height: 400px;
    margin-left: 300px;
}
.img1{
    display: inline-block;
    width: 400px;
    height: 400px;
    margin-left: 100px;
}