/* .header{
    color:green;
}
.header:hover{
    color:orange;
    border: 1px solid red;
}
.container{
   
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}
.container:hover{
    
    border-radius: 50%;
    background-color: yellow;
}
.text{
    font-size:14px;
}
.text:hover{
    font-size:30px;
    color: red;
} */

/* .square{
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-color: green;
    animation-name: develop;
    animation-duration:2s;
    animation-iteration-count: infinite; */
    /* animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: cubic-bezier(0,-1.03,.89,1.84);
    animation-direction: reverse;  */
    
  
/* } */

/* @keyframes develop{ */
    /* 0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    } */
    /* 0%{
        top: 0px;
        left: 0px;

    }
    25%{
        top:200px;
        left: 0px;
    }
    50%{
        top:200px;
        left: 200px;
    }
    75%{
        top:0px;
        left: 200px;
    }
    100%{
        top: 0px;
        left: 0px;
        

    }

} */

